body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background: #396775;
}
.input {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  max-width: 600px;
  position: relative;
}

.input__box {
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
  border: none;
  font-size: 2rem;
}

.input__box:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 10px 600px rgba(0, 0, 0, 0.5);
}

.input__btn {
  position: absolute;
  width: 4.5rem;
  aspect-ratio: 1;
  right: 0;
  margin: 0.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  background: #396775;
  color: white;
  cursor: pointer;
  border: none;
  transition: transform 300ms;
}
.input__btn:hover,
.input__btn:active,
.input__btn:focus {
  transform: scale(0.9);
  border: none;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  font-weight: 600;
  width: 90%;
  max-width: 530px;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
}
.item {
  width: 100%;
  font-size: 1.8rem;
  padding: 2rem;
  list-style: none;
}
.todo__item {
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  width: 100%;
  padding: 0.3rem 2rem;
  display: flex;
  align-items: center;
}
.todo__item-text {
  font-size: 1.7rem;
  text-transform: capitalize;
  flex: 1;
}
.todo__item div {
  display: flex;
  gap: 0.7rem;
}

.todo__item-text--isDone {
  text-decoration: line-through;
}

.edit__input {
  /* background: transparent; */
  border: none;
  outline: none;
  padding: 1.5rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  flex: 1;
}
